
{{#min}}
<link rel="stylesheet" href="/styles/bootstrap.min.css">
{{#supportsWebp}}<link rel="stylesheet" href="/styles/pg.webp.min.css">{{/supportsWebp}}
{{^supportsWebp}}<link rel="stylesheet" href="/styles/pg.min.css">{{/supportsWebp}}
{{/min}}

